testBuild/testBuild.xcodeproj/project.xcworkspace/xcshareddata/testBuild.xccheckout
testBuild/testBuild.xcodeproj/project.xcworkspace/xcuserdata/antonpoluboiarynov.xcuserdatad/UserInterfaceState.xcuserstate
testBuild/testBuild.xcodeproj/xcuserdata/antonpoluboiarynov.xcuserdatad/xcschemes/testBuild.xcscheme
testBuild/testBuild.xcodeproj/xcuserdata/antonpoluboiarynov.xcuserdatad/xcschemes/xcschememanagement.plist
